### This is a practice script, it contains no points or organization

# 01 Importing libraries and data

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# import data
path = r'H:\CF\Immersion into Data Analystics\4 Python Fundamentals for Data Analysts\Instacart Basket Analysis'

In [3]:
path

'H:\\CF\\Immersion into Data Analystics\\4 Python Fundamentals for Data Analysts\\Instacart Basket Analysis'

In [4]:
df_prac = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacart_data_merged2.pkl'))

In [5]:
#checking output
df_prac.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,max_order,loyalty_flag,mean_price,spender_flag,customer_frequency,frequency_flag,Age,n_dependants,income,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,...,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer,31,3,40423,both
1,2398795,1,2,3,7,15.0,False,196,1,1,...,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer,31,3,40423,both
2,473747,1,3,3,12,21.0,False,196,1,1,...,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer,31,3,40423,both
3,2254736,1,4,4,7,29.0,False,196,1,1,...,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer,31,3,40423,both
4,431534,1,5,4,15,28.0,False,196,1,1,...,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer,31,3,40423,both

In [6]:
df_prac.dtypes

order_id                     int64
customer_id                  int64
order_number                 int64
orders_day_of_week           int64
order_hour_of_day            int64
days_since_prior_order     float64
new_customer                  bool
product_id                   int64
add_to_cart_order            int64
reordered                    int64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
price_range_loc             object
Busiest Days                object
busiest_period_of_day       object
max_order                    int64
loyalty_flag                object
mean_price                 float64
spender_flag                object
customer_frequency         float64
frequency_flag              object
Age                          int64
n_dependants                 int64
income                       int64
_merge                    category
dtype: object

In [7]:
df_prac['prices'].max()

25.0

# 02 Crosstabs in Python

In [8]:
# creating crosstab
crosstab = pd.crosstab(df_prac['days_since_prior_order'], df_prac['order_number'], dropna = False)

In [ ]:
# copyint go clipboard
crosstab.to_clipboard()

In [9]:
df_prac.columns

Index(['order_id', 'customer_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc',
       'Busiest Days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_price', 'spender_flag', 'customer_frequency', 'frequency_flag',
       'Age', 'n_dependants', 'income', '_merge'],
      dtype='object')

In [10]:
df_cust = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [11]:
df_cust.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [12]:
df_cust2 = df_cust.drop(columns = ['First Name', 'Surnam', 'date_joined'])

In [13]:
df_cust2.columns

Index(['user_id', 'Gender', 'STATE', 'Age', 'n_dependants', 'fam_status',
       'income'],
      dtype='object')

In [14]:
df_cust2.rename(columns = {'user_id' : 'customer_id'}, inplace = True)

In [15]:
df_cust2.columns

Index(['customer_id', 'Gender', 'STATE', 'Age', 'n_dependants', 'fam_status',
       'income'],
      dtype='object')

In [25]:
df_insta2 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacart_data.pkl'))

In [26]:
df_insta2.columns

Index(['order_id', 'customer_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc',
       'Busiest Days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_price', 'spender_flag', 'customer_frequency', 'frequency_flag'],
      dtype='object')

In [27]:
df_insta4 = df_insta2.drop(columns = ['order_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc',
       'Busiest Days', 'busiest_period_of_day',])

In [28]:
df_insta4.head(25)

,customer_id,max_order,loyalty_flag,mean_price,spender_flag,customer_frequency,frequency_flag
0,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
1,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
2,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
3,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
4,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
5,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
6,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
7,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
8,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
9,1,10,New customer,6.367797,Low spender,20.5,Non-Frequent Customer
10,15,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,15,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,15,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,15,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,15,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
15,19,9,New customer,8.372059,Low spender,6.0,Frequent customer
16,19,9,New customer,8.372059,Low spender,6.0,Frequent customer
17,19,9,New customer,8.372059,Low spender,6.0,Frequent customer
18,21,33,Regular customer,7.012683,Low spender,7.5,Frequent customer
19,31,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
20,31,20,Regular customer,8.137793,Low spender,6.0,Frequent customer
21,43,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
22,43,11,Regular customer,7.444898,Low spender,10.0,Frequent customer
23,52,27,Regular customer,6.356287,Low spender,8.0,Frequent customer
24,52,27,Regular customer,6.356287,Low spender,8.0,Frequent customer

In [31]:
# test merge without overwriting
pd.merge(df_cust2, df_insta4, on = ['customer_id'])

,customer_id,Gender,STATE,Age,n_dependants,fam_status,income,max_order,loyalty_flag,mean_price,spender_flag,customer_frequency,frequency_flag
0,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
1,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
2,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
3,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
4,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer
32404855,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer
32404856,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer
32404857,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer
32404858,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer

In [32]:
df_insta5 = df_cust2.merge(df_insta4, on = ['customer_id'], indicator = True)

In [33]:
df_insta5.head(30)

,customer_id,Gender,STATE,Age,n_dependants,fam_status,income,max_order,loyalty_flag,mean_price,spender_flag,customer_frequency,frequency_flag,_merge
0,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
1,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
2,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
3,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
4,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
5,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
6,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
7,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
8,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
9,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
10,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
11,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
12,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
13,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
14,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
15,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
16,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
17,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
18,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
19,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
20,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
21,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
22,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
23,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
24,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
25,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
26,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
27,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
28,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both
29,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer,both

In [34]:
df_dups = df_insta5[df_insta5.duplicated()]

In [35]:
df_dups

,customer_id,Gender,STATE,Age,n_dependants,fam_status,income,max_order,loyalty_flag,mean_price,spender_flag,customer_frequency,frequency_flag,_merge
1,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
2,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
3,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
4,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
5,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer,both
32404855,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer,both
32404856,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer,both
32404857,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer,both
32404858,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer,both

In [36]:
df_nodups = df_insta5.drop_duplicates()

In [37]:
df_nodups.shape

(206209, 14)

In [39]:
df_nodups.tail(25)

,customer_id,Gender,STATE,Age,n_dependants,fam_status,income,max_order,loyalty_flag,mean_price,spender_flag,customer_frequency,frequency_flag,_merge
32403563,61944,Male,Ohio,54,0,single,58050,3,New customer,6.442857,Low spender,30.0,Non-Frequent Customer,both
32403591,149397,Female,Kentucky,22,1,married,32242,8,New customer,6.238889,Low spender,11.0,Regular Customer,both
32403627,107955,Male,Pennsylvania,41,3,married,136624,10,New customer,7.428713,Low spender,13.0,Regular Customer,both
32403728,163443,Male,Pennsylvania,37,0,single,82652,5,New customer,8.169136,Low spender,26.0,Non-Frequent Customer,both
32403809,93669,Female,Maryland,74,1,married,122136,9,New customer,7.312121,Low spender,24.0,Non-Frequent Customer,both
32403875,193828,Male,North Carolina,46,1,married,160483,3,New customer,9.631579,Low spender,30.0,Non-Frequent Customer,both
32403894,197067,Female,Arizona,42,0,single,114821,29,Regular customer,7.860870,Low spender,7.0,Frequent customer,both
32403986,7177,Male,Mississippi,71,3,married,64400,5,New customer,7.250000,Low spender,30.0,Non-Frequent Customer,both
32404008,61888,Male,New Jersey,37,1,married,68491,3,New customer,7.166667,Low spender,13.0,Regular Customer,both
32404029,103412,Male,Michigan,46,2,married,154481,22,Regular customer,10.762222,High spender,9.0,Frequent customer,both
32404074,189337,Male,New Jersey,56,1,married,40373,5,New customer,6.813333,Low spender,0.0,Frequent customer,both
32404089,205766,Female,Oregon,18,2,living with parents and siblings,48510,14,Regular customer,5.209677,Low spender,4.0,Frequent customer,both
32404120,139950,Female,Colorado,45,2,married,150954,5,New customer,8.976667,Low spender,15.0,Regular Customer,both
32404150,74598,Male,Minnesota,52,0,single,140700,22,Regular customer,9.601124,Low spender,15.0,Regular Customer,both
32404239,83573,Female,Michigan,28,0,single,32237,23,Regular customer,6.595266,Low spender,14.0,Regular Customer,both
32404577,179673,Male,Wyoming,77,0,divorced/widowed,162239,6,New customer,9.609091,Low spender,2.0,Frequent customer,both
32404588,192637,Female,Florida,47,0,single,50638,3,New customer,6.580000,Low spender,9.5,Frequent customer,both
32404593,75529,Female,West Virginia,25,2,married,56513,8,New customer,8.427778,Low spender,30.0,Non-Frequent Customer,both
32404629,157533,Male,Utah,53,0,single,35973,6,New customer,6.555556,Low spender,9.0,Frequent customer,both
32404665,122741,Male,Michigan,24,2,married,73357,10,New customer,8.974576,Low spender,30.0,Non-Frequent Customer,both
32404724,168073,Female,North Carolina,44,1,married,148828,4,New customer,7.652381,Low spender,12.0,Regular Customer,both
32404745,49635,Male,Hawaii,62,3,married,168639,4,New customer,9.353333,Low spender,10.0,Frequent customer,both
32404760,135902,Female,Missouri,66,2,married,53374,8,New customer,6.960345,Low spender,8.0,Frequent customer,both
32404818,81095,Female,California,27,1,married,99799,3,New customer,8.273077,Low spender,22.0,Non-Frequent Customer,both
32404844,80148,Female,New York,55,1,married,57095,4,New customer,3.886667,Low spender,12.0,Regular Customer,both

In [40]:
df_nodups['spender_flag'].value_counts()

Low spender     200852
High spender      5357
Name: spender_flag, dtype: int64

In [19]:
df_insta.columns

Index(['customer_id', 'Gender', 'STATE', 'Age', 'n_dependants', 'fam_status',
       'income', 'order_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc',
       'Busiest Days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_price', 'spender_flag', 'customer_frequency', 'frequency_flag',
       '_merge'],
      dtype='object')

In [24]:
df_insta['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
df_insta3 = df_insta.drop(columns = ['order_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_range_loc',
       'Busiest Days', 'busiest_period_of_day','_merge'])

In [23]:
df_insta3.head(20)

,customer_id,Gender,STATE,Age,n_dependants,fam_status,income,max_order,loyalty_flag,mean_price,spender_flag,customer_frequency,frequency_flag
0,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
1,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
2,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
3,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
4,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
5,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
6,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
7,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
8,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
9,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
10,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
11,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
12,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
13,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
14,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
15,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
16,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
17,26711,Female,Missouri,48,3,married,165665,8,New customer,7.988889,Low spender,19.0,Regular Customer
18,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer
19,33890,Female,New Mexico,36,0,single,59285,12,Regular customer,7.057534,Low spender,26.0,Non-Frequent Customer

In [41]:
df_nodups.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacart_cust_demo.pkl'))

In [ ]:
pd.merge(df_cust2, df_insta, on = ['customer_id'])